*{
  font-family: 'Taviraj', serif;
}
h1, h2{
  font-family: 'Alice', serif;
}
.finePrint{
  font-family: 'Open Sans Condensed', sans-serif;
}

/*------------------------------------*/

#title nav ul li a{
  font-size: 1.6em;
}
a{
  color: black;
  text-decoration: none
}
